rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && 
        (request.auth.token.email == 'pmddigitalmedia@gmail.com' ||
         (request.auth.token.keys().hasAll(['admin']) && request.auth.token.admin == true));
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && (isOwner(userId) || isAdmin());
    }

    match /users/{userId}/transactions/{transactionId} {
      allow read, write: if isSignedIn() && (isOwner(userId) || isAdmin());
    }
  }
}
